CompileFlags:
  CompilationDatabase: build
  BuiltinHeaders: QueryDriver
  Remove:
    - -mlongcalls
    - -fno-tree-switch-conversion
    - -fno-shrink-wrap
    - -fstrict-volatile-bitfields
    - -fzero-init-padding-bits=all
    - -fno-malloc-dce
